*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.fonesize_title {
    
    /* font-family:serif,sans-serif,cursive,fantasy,monospace;  */
    /* font-family:Microsoft JhengHei,DFKai-sb ; */
    font-family:Microsoft JhengHei,DFKai-sb ;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 60px;
}

.fonesize_title_h1 {
    
    /* font-family:serif,sans-serif,cursive,fantasy,monospace;  */
    /* font-family:Microsoft JhengHei,DFKai-sb ; */
    font-family:Microsoft JhengHei,DFKai-sb ;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 50x;
    line-height: 60px;
}

.fonesize_l {
    font-family:Microsoft JhengHei,DFKai-sb ;
    font-size: 32px;
    font-weight: 500;
}

.fonesize_m {
    font-family:Microsoft JhengHei,DFKai-sb ;
    font-size: 28px;
}

.fonesize_text {
    font-family:Microsoft JhengHei,DFKai-sb ;
    font-size: 24px;
}

.float_right {
    float : right;
}

.float_left {
    float : left;
}

.float_clear {
    float: both;
}

.text_color_icon {
    color: white;
}

.text_color_blue {
    color: blue;
}

.text_color_red {
    color: red;
}

.text_justify_auto{
    text-align: justify;
    text-justify: auto;
    text-indent: 30px;
}

.text_center {
    text-align: center;
}

.txt-line-clamp2{
    width:100%;
    overflow-x:hidden;
    overflow-y:auto;
    text-overflow: ellipsis;
    display: -webkit-box;
     -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* white-space:nowrap; */
}

.Intro_text {
    text-align: center;
}

a {
    text-decoration: none;

}

a:link  {
    /* color: green; */
    text-decoration: none;
}
  
 
a:visited  {
    /* color: blue; */
    text-decoration: none
}
  
  
a:hover  {
    /* color: red; */
    text-decoration: underline;
}
  
  
a:active  {
    /* color: black; */
    text-decoration: underline;
}

.space {
    width:100%;
    height:20px;
}

.boxAll {
    width: 100%;
    max-width: 1920px;
    background-color: white;
    position: relative;
    /* display: flex; */
}

.logo {
    height: 60px;
    text-align: center;
}

.icon {
    height: 60px;
    text-align: center;
}

.icon-font{
    font-size: 55px;
    color: black;
    display:none;
}

.icon1-font{
    font-size: 36px;
    color:rgba(0,0,0,0);
    display:none;
}

.nav_auto {
    width: 100vw;
    max-width: 1920px;
    height: 80px;
    background-color:#9D9C9C;
    /* position: absolute; */
    /* position: fixed; */
    /* top:0px;  */
    z-index: 9999;
}

.nav {
    width: 1140px;
    height: 80px;
    background-color:#9D9C9C;
    padding: 10px; 
    margin : auto; 
}

.navbar_group { 
    width: 960px;
    /* background-color: blue; */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar_group_btn{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar_btn {
    width :auto;
    height :auto;
}

.swiper-container {
    width: 100%;
    /* max-width: 1920px; */
    height: 100vh;
}

.origin_1 {
    width : 100%;
    margin : auto; 
    text-align: center;
    line-height: 60px ;
    /* overflow: hidden; */
    background-color: white;
    /* z-index: 1; */
}


.origin_img {
    background-image: url("../img/起源-1-10-底圖.jpg") ;
    background-position: center;
    width: 100%;
}


.origin_box {
    width : 980px;
    margin : auto; 
    /* background-color: greenyellow; */
}

/* #application {
    overflow: hidden;
    background-color: white;
} */

.application_1 {
    width : 100%;
    margin : auto; 
    text-align: center;
    line-height: 60px ;
    /* overflow: hidden; */
    background-color: white;
    z-index: 30;
}

.application_img {
    background-image: url("../img/應用-1-10-底圖.jpg") ;
    background-position: center;
    width: 100%;
    opacity: 1;
    z-index: 30;
}

.application_box {
    width : 980px;
    margin : auto;
    /* background-color:#F9EDE5; */
}

.application_box_top {
    width : 100%;
    /* background-color: red; */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    
}


.application_box_top .img_top_1 {
    display: inline-block;
    width: 70%;
    height: 371px;
    /* margin:auto; */
}

.application_box_top_l {
    width : 10%;
    /* background-color: red; */
    padding-right:10px;
    padding-left:30px;
    padding-top: 80px;
    padding-bottom: auto;
    line-height: 80px;
    margin-right: 65px;
}

.application_box_top_all {
    width : auto;
    height : 100%;
    margin-left: 20px;
}

.application_box_bom {
    width : 100%;
    /* background-color: red; */
    display: flex;
    margin-top: 24px;
}


.application_box_bom .img_bom_1 {
    display: inline-block;
    width: 70%;
    height: 371px;
    /* margin:auto; */
}

.application_box_bom_l {
    width : 10%;
    /* background-color: red; */
    padding-right:10px;
    padding-left:30px;
    padding-top: 80px;
    padding-bottom: auto;
    line-height: 80px;
    margin-right: 65px;
}

.application_box_bom_all {
    width : auto;
    height : 100%;
    margin-left: 20px;
}
.application_box_all_all {
    width : auto;
    height : 100%;
}

.advantage_1 {
    width : 100%;
    height: 60px;
    margin : auto; 
    text-align: center;
    line-height: 60px ;
    /* overflow: hidden; */
    background-color: white;
}

.advantage_img {
    background-image: url("../img/優點-1-10-底圖.jpg") ;
    background-position: center;
    width: 100%;
    /* opacity: 1;
    z-index: 40; */
}

.advantage_box {
    width : 980px;
    margin : auto;
    background-color:#F9EDE5;
}

.advantage_box_top {
    width : 100%;
    /* background-color: brown; */
}

.advantage_box_top_all {
    width : 100%;
    height : auto;
    display: flex;
}

.advantage_box_top_l {
    width: auto;
    height : auto;
    padding: 0px 20px;
}

.advantage_box_top_r {
    width: auto;
    height : auto;
    padding: 0px 20px;
   
}

.advantage_box_mid {
    width : 100%;
    /* background-color: brown; */
}
.advantage_box_mid_all {
    width : 100%;
    height : auto;
    display: flex;
}

.advantage_box_mid_r {
    width: auto;
    height : auto;
    padding: 0px 20px;
}

.advantage_box_bom {
    width : 100%;
    /* background-color: brown; */
   
}
.advantage_box_bom_all {
    width : 100%;
    height : auto;
    display: flex;
}

.advantage_box_bom_l {
    width: auto;
    height : auto;
    padding: 0px 20px;
}

.aterial_1 {
    width : 100%;
    height: 60px;
    margin : auto; 
    text-align: center;
    line-height: 60px ;
    /* overflow: hidden; */
    background-color: white;
    z-index: 1;    
}

.aterial_img {
    background-image: url("../img/材料工具-1-10-底圖.jpg") ;
    background-position: center;
    background-size: cover;
    width: 100%;
    opacity: 1;
    /* z-index: 1; */
}

.aterial_box {
    width : 980px;
    margin : auto;
    /* background-color: blue; */
}

.aterial_box_top {
    width : 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
}

.aterial_box_top_l {
    width : 30px;
    /* background-color: red; */
    padding-top: 100px;
    padding-bottom: auto;
    line-height: 80px;
}

.aterial_box_top_all {
    width :255px;
    height : 100%;
}

.aterial_box_top_top_l {
    width : auto;
    height : auto;
    padding: 0px 10px;
}

.aterial_box_top_top_m {
    width : auto;
    height : auto;
    padding: 0px 10px;
}

.aterial_box_top_top_r {
    width : auto;
    height : auto;
    padding: 0px 10px;
}

.aterial_box_bom {
    width : 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}

.aterial_box_bom_l {
    width : 40px;
    /* background-color: blue; */
    padding-top: 100px;
    padding-bottom: auto;
    line-height: 80px;
    margin-right: 10px;
}

.aterial_box_bom_img_group {
    position: relative;
    width: 100%;
    height: 543px;
} 

.aterial_box_bom_img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
    display:none;
}

.aterial_box_bom_img img {
    width: 100%;
    height: 543px;
}

.aterial_box_bom_img_l {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    /* z-index: 1; */
}

.aterial_box_btn {
    cursor: pointer;
}

.fonesize_text ul li {
    width: 130px;
    cursor: pointer;
}

.external_1 {
    width : 100%;
    height: 60px;
    margin : auto; 
    text-align: center;
    line-height: 60px ;
    /* overflow: hidden; */
    background-color: #9E9F9F;
}

.external_box {
    width : 100%;
    margin : auto;
    background-color: #9E9F9F;
    /* z-index: 61;
    opacity: 1; */
}

.external_icon {
    width: 32px;
    height: 32px;
    margin: auto;
    display : flex;
}

.external_logo {
    width: 100%;
    height: 100%;
}
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
  
#navbar a.active {
    background-color: #4CAF50;
    color: white;
} 

.ul_li_display {
    display: flex;
   flex-direction: column;
   padding-top: 100px;
}

ul {
    padding-left: 40px;
    margin:0px;
}

li {
    color: blue;
}

.sticky_80 {
    position: fixed;
    top: 80px;
    padding-top: 0px;
    width: 100%;
    z-index: 1;
    
}

.sticky_top_origin {
    padding-top: 100px;
    width: 100%;
    
}

.sticky_top_application {
    padding-top: 100px;
    width: 100%;
   
}

.sticky_top_advantage {
    padding-top: 100px;
    width: 100%;
   
}

.sticky_top_aterial {
    padding-top: 100px;
    width: 100%;
    
}
.sticky_0 {
    position: fixed;
    top: 0;
    width: 100%;
    /* z-index: 0; */
}
  .z_index_0{
      z-index: 0;
  }

  .z_index_70{
    display:block;
    z-index: 70;
}

.color_blue{
    color:blue;
}









@media (max-width: 375px) {
    .boxAll {
        width: 100%;
        max-width: 375px;
        position: relative;
    }

    .txt-line-clamp2{
        width:100%;
        overflow-x:hidden;
        overflow-y:auto;
        text-overflow: ellipsis;
        display: -webkit-box;
         -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        /* white-space:nowrap; */
    }

    .logo {
        height: 60px;
        text-align: center;
    }

    .icon {
        height: 60px;
        text-align: center;
    }
    
    .icon-font{
        font-size: 55px;
        color: black;
        display:block;
    }
    
    .icon1-font{
        font-size: 36px;
        color:rgba(0,0,0,0);
        display:none;
        z-index: 9999;
    }

    .nav_auto {
        width: 100%;
        max-width: 375px;
        height: 80px;
        background-color:#9D9C9C;
        /* position: fixed;
        top:0px;  */
        z-index: 9999;
    }

    

    .nav {
        width: 100%;
        height: 80px;
        background-color:#9D9C9C;
        padding: 10px; 
        margin : auto; 
       
    }

    .navbar_group { 
        width: 60px;
        /* background-color: blue; */
        display:flex;
        flex-direction: row;
        order: -1;
        position: relative;
        /* justify-content: space-around; */
    }
    
    .navbar_group_btn { 
        width: 110px;
        background-color: blue;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        order: -1;
        position: relative;
    }


    .navbar_group:hover .navbar_group_btn  { 
        left:-40px;
        /* flex-wrap: wrap; */
        /* display:flex;
        flex-direction: column; */
        /* justify-content: space-around; */
        z-index: 7777;
    }

    .navbar_group .navbar_group_btn { 
        width: 110px;
        /* background-color:black ; */
        position: absolute;
        top:70px;
        left: 500px;
        transition: 1s;
        flex-wrap: wrap;
        /* display:flex;
        flex-direction: column; */
        /* justify-content: space-around; */
        /* clear: both; */
        z-index: 7777;
    }

    .navbar_btn {
        width :auto;
        height :auto;
    }
    

    .swiper-container {
        width: 100%;
        height: 600px;
    }

    .origin_1 {
        width : 100%;
        margin : auto; 
        text-align: center;
        line-height: 60px ;
        overflow: hidden;
        background-color: white;
        z-index: 25;
    }

    
    .origin_img {
        background-image: url("../img/起源-1-10-底圖.jpg") ;
        background-position: center;
        width: 100%;
        /* opacity: 1;
        z-index: 20; */
    }

    .origin_box {
        width : 320px;
        margin : auto; 
        /* background-color: greenyellow; */
    }
    
    .application_1 {
        width : 100%;
        margin : auto; 
        text-align: center;
        line-height: 60px ;
        overflow: hidden;
        background-color: white;
        z-index: 35;
    }

    .application_img {
        background-image: url("../img/應用-1-10-底圖.jpg") ;
        background-position: center;
        width: 100%;
        opacity: 1;
        z-index: 30;
    }

    .application_box {
        width : 320px;
        margin : auto;
        /* background-color:#F9EDE5; */
    }

    

    .application_box_top {
        width : 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
    }

    .application_box_top .img_top_1 {
        display: inline-block;
        width: 100%;
        height: 250px;
        /* margin:auto; */
        
       
    }
    .application_box_top_l {
        width : 100%;
        /* background-color: red; */
        padding-right:0px;
        padding-left:0px;
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 40px;
        margin-right: 0px;
        
    }

    .application_box_top_all {
        width : 100%;
        height : 100%;
        margin-left: 0px;
    }
      
    
    .application_box_bom {
        width : 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        
    }
    
    .application_box_bom .img_bom_1 {
        display: inline-block;
        width: 100%;
        height: 250px;
        /* margin:auto; */
    }

    .application_box_bom_l {
        width : 100%;
        /* background-color: red; */
        padding-right:0px;
        padding-left:0px;
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 40px;
        margin-right: 0px;
    }
    
    .application_box_bom_all {
        width : 100%;
        height : 100%;
        margin-left: 0px;
    }
    .application_box_all_all {
        width : 100%;
        height : 100%;
    }
    
    .advantage_1 {
        width : 100%;
        height: 60px;
        margin : auto; 
        text-align: center;
        line-height: 60px ;
        overflow: hidden;
        background-color: white;
    }
    
    .advantage_img {
        background-image: url("../img/優點-1-10-底圖.jpg") ;
        background-position: center;
        width: 100%;
        opacity: 1;
        z-index: 40;
    }

    .advantage_box {
        width : 320px;
        margin : auto;
        background-color:#F9EDE5;
    }

    .advantage_box_top {
        width : 100%;
    }

    .advantage_box_top_all {
        width : 100%;
        height : auto;
        display: flex;
        flex-direction: column;
    }
    
    .advantage_box_top_l {
        width: auto;
        height : auto;
        padding: 0px ;
    }

    .advantage_box_top_r {
        width: auto;
        height : auto;
        padding: 0px ;
       
    }
    .advantage_box_mid {
        width : 100%;
        /* background-color: brown; */
       
    }

    .advantage_box_mid_all {
        width : 100%;
        height : auto;
        display: flex;
        flex-direction: column;
    }

    .advantage_box_mid_r {
        width: auto;
        height : auto;
        padding: 0px ;
    }
    
    .advantage_box_bom {
        width : 100%;
        /* background-color: brown; */
       
    }
    .advantage_box_bom_all {
        width : 100%;
        height : auto;
        display: flex;
        flex-direction: column; 
    }

    .advantage_box_bom_l {
        width: auto;
        height : auto;
        padding: 0px ;
    }

    .aterial_1 {
        width : 100%;
        height: 60px;
        margin : auto; 
        text-align: center;
        line-height: 60px ;
        overflow: hidden;
        background-color: white;
    }
    
    .aterial_img {
        background-image: url("../img/材料工具-1-10-底圖.jpg") ;
        background-position: center;
        width: 100%;
        opacity: 1;
        z-index: 50;
    }


    .aterial_box {
        width : 320px;
        margin : auto;
        /* background-color: blue; */
    }
    .aterial_box_top {
        width : 100%;
        /* background-color: brown; */
        display: flex;
        flex-direction: column;
        
    }
    
    .aterial_box_top_l {
        width : 100%;
        /* background-color: red; */
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 40px;
    }
    
    .aterial_box_top_all {
        width : 100%;
        height : 100%;
    }
    
    .aterial_box_top_top_l {
        width : 100%;
        height : 100%;
        padding: 0px;
    }
    
    .aterial_box_top_top_m {
        width : 100%;
        height : 100%;
        padding: 0px;
    }
    
    .aterial_box_top_top_r {
        width : 100%;
        height : 100%;
        padding: 0px;
    }
    
    .aterial_box_bom {
        width : 100%;
        /* background-color: brown; */
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    
    .aterial_box_bom_l {
        width :100%;
        /* background-color: blue; */
        padding-top: 0px;
        padding-bottom:0px;
        line-height: 40px;
        margin-right: 0px;
    }
    
    .aterial_box_bom_img_group {
        position: relative;
        width: 100%;
        height: 230px;
    } 
    
    .aterial_box_bom_img {
        width: 100%;
        height: 222px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: -1;
        display:none;
    }
    
    .aterial_box_bom_img img {
        width: 100%;
        height: 222px;
    }
    
    .aterial_box_bom_img_l {
        width: 100%;
        height: 222px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 56;
    }
    
    .fonesize_text ul li {
        width: 160px;
    }
    
    .external_1 {
        width : 100%;
        height: 60px;
        margin : auto; 
        text-align: center;
        line-height: 60px ;
        overflow: hidden;
        background-color: #9E9F9F;
    }
    
    .external_box {
        width : 100%;
        margin : auto;
        background-color: #9E9F9F;
        z-index: 61;
        opacity: 1;
    }

    .ul_li_display {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0px;
    }

    ul {
        padding: 15px;
    }

    li {
        color: blue;
    }

    .sticky_80 {
        position: fixed;
        top: 0px;
        padding-top: 80px;
        width: 375px;
    }

    .sticky_0 {
        position: fixed;
        top: 0px;
        width: 375px;
        margin: auto;
        
    }
      
      .z_index_0{
        z-index: 0;
    }
  
    .z_index_70{
      display:block;
      z-index: 70;
     }
  
    .color_blue{
      color:blue;
    }
     
       
    

    

  
   


}
    

