*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.fonesize_title {
    
    /* font-family:serif,sans-serif,cursive,fantasy,monospace;  */
    /* font-family:Microsoft JhengHei,DFKai-sb ; */
    font-family:DFKai-sb ;


    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0px;
    line-height: 60px;
}

.fonesize_l {
    font-family:Microsoft JhengHei,DFKai-sb ;
    font-size: 32px;
    font-weight: 500;
}

.fonesize_m {
    font-size: 28px;
}
.fonesize_text {
    font-size: 24px;
}

.float_right {
    float : right;
}

.float_left {
    float : left;
}

.float_clear {
    float: both;
}

.text_color_black {
    color: black;
}

.text_color_white {
    color: white;
}

.text_justify_auto{
    text-align: justify;
    text-justify: auto;
}

.spacing_xl {
    width : 100%;
    height : 80px;
}

.spacing_l {
    width : 100%;
    height : 34px;
}

.spacing_m {
    width : 100%;
    height : 28px;
}

.spacing_s {
    width : 100%;
    height : 24px;
}

.spacing_xs {
    width : 100%;
    height : 12px;
}
a {
    text-decoration: none;

}

a:link  {
    /* color: green; */
    text-decoration: none;
}
  
 
a:visited  {
    /* color: blue; */
    text-decoration: none
}
  
  
a:hover  {
    /* color: red; */
    text-decoration: underline;
}
  
  
a:active  {
    /* color: black; */
    text-decoration: underline;
}

.boxAll {
    width: 100%;
    max-width: 1920px;
    background-color: white;
    position: relative;
    /* display: flex; */
}

.logo {
    height: 60px;
    text-align: center;
}

.icon {
    height: 60px;
    text-align: center;
}

.icon-font{
    font-size: 55px;
    color: black;
    display:none;
}

.icon1-font{
    font-size: 36px;
    color:rgba(0,0,0,0);
    display:none;
}

.nav_auto {
    width: 100vw;
    max-width: 1920px;
    height: 80px;
    background-color:#9D9C9C;
    position: fixed;
    top:0px; 
    z-index: 9999;
}

.nav {
    width: 1140px;
    height: 80px;
    background-color:#9D9C9C;
    padding: 10px; 
    margin : auto; 
}

.navbar_group { 
    width: 960px;
    /* background-color: blue; */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar {
    height : 60px;
    text-align: center
}

.swiper-container {
    width: 100%;
    /* max-width: 1920px; */
    height: 100vh;
    
}
.origin_img {
    background-image: url("../02-素材/起源-1-10-底圖.jpg") ;
    background-position: center;
    position: absolute;
    top:755px;
    width: 100%;
    opacity: 1;
    z-index: 2;
}


.origin_box {
    width : 980px;
    margin : auto;    
    /* background-color: greenyellow; */
}

.title_text {
    text-align: center;
}

.Intro_text {
    text-align: center;
}

.application_img {
    background-image: url("../02-素材/應用-1-10-底圖.jpg") ;
    background-position: center;
    position: absolute;
    top:1734.6px;
    width: 100%;
    opacity: 1;
    z-index: 3;
}

.application_box {
    width : 980px;
    margin : auto;
    /* background-color:#F9EDE5; */
}

.application_box_all {
    width : 100%;
    /* background-color: red; */
    display: flex;
}
.application_box_all_all {
    width : auto;
    height : 100%;
}

.advantage_img {
    background-image: url("../02-素材/優點-1-10-底圖.jpg") ;
    background-position: center;
    position: absolute;
    top:2671.25px;
    width: 100%;
    opacity: 1;
    z-index: 4;
}

.advantage_box {
    width : 980px;
    margin : auto;
    background-color:#F9EDE5;
    
}

.advantage_box_all {
    width : 100%;
    /* background-color: brown; */
   
}
.advantage_box_all_all {
    width : 100%;
    height : auto;
    display: flex;
}

.aterial_img {
    background-image: url("../02-素材/材料工具-1-10-底圖.jpg") ;
    background-position: center;
    position: absolute;
    top:3719.65px;
    width: 100%;
    opacity: 1;
    z-index: 5;
}

.aterial_box {
    width : 980px;
    margin : auto;
    /* background-color: blue; */
}

.aterial_box_top {
    width : 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
   
}

.aterial_box_bom {
    width : 100%;
    /* background-color: brown; */
    display: flex;
    
   
}
.aterial_box_top_all {
    width :255px;
    height : 100%;
}

.external_box {
    width : 100%;
    margin : auto;
    background-color: #9E9F9F;
    position: absolute;
    top:4859.05px;
    opacity: 1;
}

.external_icon {
    width: 32px;
    height: 32px;
    margin: auto;
    display : flex;
}

.external_logo {
    width: 100%;
    height: 100%;
}







@media (max-width: 375px) {
    .boxAll {
        width: 100%;
        height: 667px;
        display: flex;
        flex-wrap: wrap ;
        min-width: 375px;
        
    }

    .nav {
        width: 100%;
        height: 100px;
        padding: 10px;
    }

    .logo {
        width: 80px;
        height: 80px;
        background-color: blue;
        margin-bottom: 0;
        margin: auto;

    }

    .navbar{
        /* width:50px; */
        /* height: 80px; */
        /* background-color: tomato; */
        /* border: black 1px solid; */
        order: -1;
        position: relative;
    }

    .icon-font{
        font-size: 80px;
        color: tomato;
        display:block;
    }

    /* .navbar1{
        order: 1;
    } */

    .icon1-font{
        font-size: 80px;
        color:rgba(0,0,0,0);
        display:block;
    }

    

    .navbar:hover ul {
        /* display: block; */
        /* margin-top: 80px; */
        left: -10px;
        flex-wrap: wrap;
       
    }

    .navbar ul {
        /* display: none; */
        width: 100vw;
        position: absolute;
        top:80px;
        left:-1000px;
        transition: 1s;
        flex-wrap: wrap;
        
    }
    
    .navbar ul li {
        width: 100vw;
        padding: 10px;
        margin-left: 0px;
    }

    .navbar ul li:hover{
        background-color: slateblue;
    }           

    
    /* .main-picture {
        flex-wrap: wrap;
    } */
        
    .picture-group {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        
    }

    .picture1 {
        width: 100%;
        height: 33%;
        background-image: url("../img-RWD/horse-01-1.jpg");
        
    }

    .picture2 {
        width: 100%;
        height: 33%;
        
    }

    .picture3 {
        width: 100%;
        height: 33%;
        
    }


}
    

